{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Coeus</b>Tweet</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Register a new membership</p>

            {{ form(form) }}


            <a href="{{ path('app_login') }}" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->

{% endblock %}
